body {
	margin : 0em;
	font-family : 'Roboto', sans-serif;
	text-align: center;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.devWarn {
	position : fixed;
	width : 100%;
	margin-top : 3em;
	padding : 0.1em;
	background-color : red;
	color : white;
}

a  {
	text-decoration : none;
	color : inherit;
}

h1 {
	font-family : 'Pacifico', cursive;
}

.logo-image {
	width : 15em;
	height : 15em;
	object-fit: contain;
}

.desc-text {
	margin-left: 3%;
	margin-right: 3%;
	text-align : left;
}

.header {
	background-color : white;
	height : 3em;
	width : 100%;
	position : fixed;
	border-bottom : 1px black solid;
}

.footer {
	text-align : center;
	background-color : black;
	color : white;
	padding-top : 1em;
}

.logo {
	font-family : 'Pacifico', cursive;
	float : left;
	margin-left : 1em;
	margin-top : 0em;
	font-size : 1.5em;
}


.background-image {
	width : 100%;
	height : 15em;
	color: black;
    text-shadow: -2px 0 rgb(70, 201, 182), 0 2px rgb(70, 201, 182), 2px 0 rgb(70, 201, 182), 0 -2px rgb(70, 201, 182);
}

.background-text {
	margin-top : 3em;
	font-size : 3em;
}

.button-9 {
	border : 1px rgb(70, 201, 182) solid;
	color : rgb(70, 201, 182);
	font-size : 2em;
	padding-right : 0.1em;
	padding-left : 0.1em;
	padding-top : 0.05em;
	width : auto;
	text-align : center;
}

.button-marg {
	margin-right : 3.0%;
	margin-left : 3.0%;	
}

.button-cat {
	float : right;
	margin-top : 0.12em;
	margin-right : 1em;
}

.txtBut {
	margin : auto;
}

.case-gray {
	background-color : rgb(220, 220, 220);
	padding-top : 2em;
	padding-bottom : 2em;
}

.case-white {
	background-color : rgb(255, 255, 255);
	padding-top : 2em;
	padding-bottom : 2em;
}

.waw {
	text-align : center;
	margin-left : 3%;
	margin-right : 3%;
}

.link {
	color : rgb(70, 201, 182);
}

.license {
	text-align : right;
}

.animButton:hover {
	transition : 0.4s;
	background-color : rgb(70, 201, 182);
	color : white;
}

.links {
	margin-right : 3%;
	margin-left : 3%
}

@media screen and (max-width: 481px) {
    .button-cat, .button-warp {
       visibility : hidden;
    }
	
	.logo {
		text-align : center;
		float : none;
		margin : 0;
	}
}
