/*************/
/* Reset CSS */
/*************/
* {
	margin : 0;
	padding : 0;
}

img {
	width : inherit;
}

body {
	font-size : 14px;
	font-family : 'Montserrat', sans-serif;
}

p {
	padding-bottom : 5px;
}

h1 {
	font-size : 72px;
	color : black;
	font-family : 'Roboto', sans-serif;
}

/************/
/* Le reste */
/************/

nav, header, footer, .content {
	width : 100%;
}

nav {
	position: fixed;
	display : grid;
	grid-template-areas : '. . Titre . .';
	background-color : rgb(230, 230, 230);
	align-items : center;
	justify-content: space-around;
	z-index : 1;
}

nav > h1 {
	display : inline-block;
	margin : 2px 0px 2px 5px;
	font-size : 45px;
	grid-area : Titre;
}

h1 > a {
	color : black;
	text-decoration: none;
}

nav > a {
	background-color : rgb(230, 230, 230);
	color : rgb(0, 0, 0);
	display : inline-block;
	height : 50px;
	padding : 2px 10px 2px 10px;
	margin : 0px 30px 0px 30px;
	border-bottom : 5px solid rgb(190, 190, 190, 0);
	list-style: none;
	text-decoration: none;
	font-size: 20px;
	font-weight : bold;
	line-height : 50px;
	font-family : 'Montserrat', serif;
	transition-duration : 0.1s;
}

nav > a:hover, .activated {
	background-color : rgb(190, 190, 190);
	border-bottom : 5px solid #30998B;
}

header {
	background-color: white;
	height: 100px;
	overflow: hidden;
}

.content {
	background-color : white;
	color : black;
	min-height: 1000px;
}

.content > p {
	padding : 0 5% 0 5%;
	text-align : justify;
	font-family : 'Montserrat', serif;
}

.article {
	margin : auto;
	max-width : 60%;
    text-align : justify;
}

.content h1 {
	text-align : center;
	font-family : 'Montserrat', serif;
	padding-bottom : 0.5em;
	padding-top : 0em;
}

.article > div {
	display : block;
	padding : 10px;
	margin : auto;
    cursor: pointer;
}

.article h3 {
    display : inline-block;
    font-size: 3em;    
}

.article h2 {
    font-size : 3em;
    padding-bottom: 0.5em;
}

.article h4 {
    font-size : 2em;
    padding-top : 0.25em;
    padding-bottom: 0.1em;
}

.article img {
    display: block;
    margin: auto;
} 

.article .date {
	color : gray;
	font-style: italic;
    font-size : 1.5em;
    display : inline-block;
}

.article code, .article img {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
    padding: 1em;
    max-width: 100%;
}

.article code {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0.5em;
    display: block;
    background-color: rgb(230, 230, 230);
    padding: 0.5em;
    font-size: 1.25em;
    line-height: 1.5em;
}

.article p {
    padding-bottom: 1.5em;
    font-size: 1.25em;
    line-height: 1.5em;
}

.article a {
    color : #105edd;
}

footer {
	background-color: rgb(230, 230, 230);
	text-align : center;
	padding : 20px 0px 20px 0px;
	color : black;
}

footer a {
	color : black;
}

/*********************/
/*    ME.HTML PAGE   */
/*********************/

.me .content > p {
	text-align : center;
	font-family : "Montserrat", serif;
	font-size: 1.25em;
    line-height: 1.5em;
	padding-bottom : 0.25em;
}

.me .content h1 {
	text-align : center;
	font-family : 'Montserrat', serif;
	padding-bottom : 0.5em;
	padding-top : 0em;
}
.me .social {
	margin : auto;
	display : block;
	width : 132px;
	height : 30px;
	padding-bottom : 0.25em;
}

.me .social img {
	display : inline-block;
	width : 30px;
	height : 30px;
	transition-duration : 0.1s;
}

.me .social img:hover {
	transform : rotate(20deg);
}

.invert {
	filter: invert(100%);
}

/*********************/
/* RESPONSIVE DESIGN */
/*********************/

 @media only screen and (max-width: 1000px) {
 	nav {
		display: grid;
		grid-template-areas : 'Titre' '.' '.' '.' '.';
 		position : static;
 		float : none;
 		text-align : center;
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}
	
	nav h1 {
		display : block;
 		max-width : 96%;
 	}
	
	nav a {
 		border :  5px solid rgb(190, 190, 190, 0);
		display : block;
 		float : none;
 		max-width : 96%;
 	}
	
	nav > a:hover, .activated {
		border : 5px solid #30998B;
		transition-duration : 0.2s;
	}
	
	header {
		height : 0;
	}
	
	.content > h1 {
		font-size : 2.2em;
	}

    .article {
        max-width: 90%;
    }

 }

@media only screen and (max-width: 1250px) {
	.article > div {
		margin : auto;
		display : block;
	}
}
