/*************/
/* Reset CSS */
/*************/
* {
	margin : 0;
	padding : 0;
}

img {
	width : inherit;
}

body {
	font-size : 14px;
	font-family : 'Montserrat', sans-serif;
}

p {
	padding-bottom : 5px;
}

h1 {
	font-size : 72px;
	color : white;
	font-family : 'Roboto', sans-serif;
}

/************/
/* Le reste */
/************/

nav, header, footer, .content {
	width : 100%;
}

nav {
	position: fixed;
	display : grid;
	grid-template-areas : '. . Titre . .';
	background-color : #162530;
	align-items : center;
	justify-content: space-around;
	z-index : 1;
}

nav > h1 {
	display : inline-block;
	margin : 2px 0px 2px 5px;
	font-size : 45px;
	grid-area : Titre;
}

h1 > a {
	color : white;
	text-decoration: none;
}

nav > a {
	background-color : #162530;
	color : white;
	display : inline-block;
	height : 50px;
	padding : 2px 10px 2px 10px;
	margin : 0px 30px 0px 30px;
	border-bottom : 5px solid #162530;
	list-style: none;
	text-decoration: none;
	font-size: 20px;
	font-weight : bold;
	line-height : 50px;
	font-family : 'Montserrat', serif;
	transition-duration : 0.1s;
}

nav > a:hover {
	background-color : #1f3342;
	border-bottom : 5px solid #30998B;
}

header {
	background-color: #131f28;
	height: 100px;
	overflow: hidden;
}

.content {
	background-color : #131f28;
	color : white;
	min-height: 1000px;
}

.content > p {
	padding : 0 5% 0 5%;
<<<<<<< HEAD
	text-align : justify;
=======
	text-align : center;
>>>>>>> 6550f4e732bd8c528d2ce8404f02bc0128faf9ec
	font-family : 'Montserrat', serif;
}

.article {
	margin : auto;
	max-width : 70%;
    text-align : justify;
}

.article h1 {
	text-align : center;
	font-family : 'Montserrat', serif;
	padding-bottom : 0.5em;
	padding-top : 0em;
}

.article > div {
	display : block;
	padding : 10px;
	margin : auto;
    cursor: pointer;
}

.article h2, .article .date {
    display : inline-block;
}

.content > h1 {
	text-align : center;
}

.article .date {
	color : gray;
	font-style: italic;

}

footer {
	background-color: #162530;
	text-align : center;
	padding : 20px 0px 20px 0px;
	color : white;
}

a {
	color : white;
}

.activated {
	background-color : #1f3342;
	border-bottom : 5px solid #30998B;
}

/*********************/
/*    ME.HTML PAGE   */
/*********************/

.me .content > p {
	text-align : center;
	font-family : "Montserrat", serif;
	font-size : 1.1em;
	padding-bottom : 0.25em;
}

.me .content h1 {
	text-align : center;
	font-family : 'Montserrat', serif;
	padding-bottom : 0.5em;
	padding-top : 0em;
}
.me .social {
	margin : auto;
	display : block;
	width : 132px;
	height : 30px;
	padding-bottom : 0.25em;
}

.me .social img {
	display : inline-block;
	width : 30px;
	height : 30px;
	transition-duration : 0.1s;
}

.me .social img:hover {
	transform : rotate(20deg);
}

.invert {
	filter: invert(100%);
}

/*********************/
/* RESPONSIVE DESIGN */
/*********************/

 @media only screen and (max-width: 1000px) {
 	nav {
		display: grid;
		grid-template-areas : 'Titre' '.' '.' '.' '.';
 		position : static;
 		float : none;
 		text-align : center;
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}
	
	nav h1 {
 		
		border : 5px solid #162530;
		display : block;
 		max-width : 96%;
 	}
	
	nav a {
 		border : 5px solid #162530;
		display : block;
 		float : none;
 		max-width : 96%;
 	}
	
	nav > a:hover, .activated {
		border : 5px solid #30998B;
		transition-duration : 0.2s;
	}
	
	.langDialog {
		position : static;
	}
	
	header {
		height : 0;
	}
	
	.article > h1 {
		font-size : 2.2em;
	}

 }

@media only screen and (max-width: 1250px) {
	.article > div {
		margin : auto;
		display : block;
	}
}
